{{#each posts as |post|}}
<div class="card text-center text-white bg-dark mb-3">
    <a href="/post/{{id}}"></a>
    <h4>{{title}}</h4>
    <div class="card-body">
        <p class="card-text">{{post_content}}</p>
    </div>
</div>
{{/each}}