<div class="row">
    <div class="login-card">
        <form class="form login-form" id="login-form">
            <div class="row">
                
                        <div class="card text-center text-white bg-dark mb-3">
                            <h4 class="card-header">Log In</h4>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email-login" placeholder="Email">
                                    <br>
                                    <input type="password" class="form-control" id="password-login"
                                        placeholder="Password">
                                </div>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary">Log In</button>
                            </div>
                        </div>
        </form>
    </div>

    <div class="login-card">
        <form class="form signup-form" id="signup-form">
            <div class="row">
                
                        <div class="card text-center text-white bg-dark mb-3">
                            <h4 class="card-header">Sign Up</h4>
                            <div class="card-body">
                                <div class="row">
                                <div class="form-group">
                                    <input type="name" class="form-control" id="username-signup" placeholder="Name">
                                    <br>
                                    <input type="email" class="form-control" id="email-signup" placeholder="Email">
                                    <br>
                                    <input type="password" class="form-control" id="password-signup"
                                        placeholder="Password">
                                </div>
                                </div>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
        </form>
    </div>
</div>